<div class="timeline">
   <div class="start-registration-orb">
      <div class="orb__icon"><mat-icon>event_available</mat-icon></div>
      <div class="orb__date"></div>
   </div>
   <div class="end-registration-connector"></div>
   <div class="end-registration-orb">
      <div class="orb__icon"><mat-icon>event_note</mat-icon></div>
      <div class="orb__date"></div>
   </div>
   <div class="final-cancelation-connector"></div>
   <div class="final-cancelation-orb">
      <div class="orb__icon"><mat-icon>event_busy</mat-icon></div>
      <div class="orb__date"></div>
   </div>
   <div class="start-event-connector"></div>
   <div class="start-event-orb">
      <div class="orb__icon"><mat-icon>outlined_flag</mat-icon></div>
      <div class="orb__date"></div>
   </div>
   <div class="end-event-connector"></div>
   <div class="end-event-orb">
      <div class="orb__icon"><mat-icon>flag</mat-icon></div>
      <div class="orb__date"></div>
   </div>
</div>
