<div class="timeline">
   <div class="orb">
      <div class="start-registration-orb"><mat-icon>event_available</mat-icon></div>
      <div class="start-registration-date"></div>
   </div>
   <div class="orb">
      <div class="end-registration-orb"><mat-icon>event_note</mat-icon></div>
      <div class="end-registration-date"></div>
   </div>
   <div class="orb">
      <div class="final-cancelation-orb"><mat-icon>event_busy</mat-icon></div>
      <div class="final-cancelation-date"></div>
   </div>
   <div class="orb">
      <div class="start-event-orb"><mat-icon>flag</mat-icon></div>
      <div class="start-event-date"></div>
   </div>
   <div class="orb">
      <div class="end-event-orb"><mat-icon>flag</mat-icon></div>
      <div class="end-event-date"></div>
   </div>
</div>
