/*
   =============
   Global Styles
   =============
*/

.card {
   margin: 8px;
}

/*
   =============
      Layout
   =============
*/

.card-content {
   position: relative;
}

.mat-step__body {
   min-height: 60vh;
   display: grid;
   grid-template:
   ". ........ toptext    ........... ." 2em
   ". content  content    content     ." auto
   ". btn-back btn-middle btn-forward ." 6em
   /1fr minmax(6em, auto) minmax(80%, auto) minmax(6em, auto) 1fr;
}

.body__top-text {
   grid-area: toptext;
}

.body__step-content {
   grid-area: content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}

.body__button-add {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
}

.body__button-back {
   grid-area: btn-back;
}

.body__button-middle {
   grid-area: btn-middle;
   display: flex;
   align-items: center;
   justify-content: center;
}

.body__button-forward {
   grid-area: btn-forward;
}

/*
   =============
     Background
   =============
*/

.mat-step-start {
   /* background-image: url(../../../../../assets/svg/FamilyWizardStartLogo.svg);
   background-repeat: no-repeat; */
}

.mat-step-end {
   /* background-image: url(../../../../../assets/svg/FamilyWizardFinishLogo.svg);
   background-repeat: no-repeat; */
}

.body__button-add__mat-icon {
   min-width: 7em;
   min-height: 7em;
   background-image: url(../../../../../assets/svg/add_box_outline_grey.svg);
   background-repeat: no-repeat;
}

.body__button-add:hover .body__button-add__mat-icon {
   min-width: 7em;
   min-height: 7em;
   background-image: url(../../../../../assets/svg/add_box_outline_primary-lighter.svg);
   background-repeat: no-repeat;
}

/*
   =============
       Fonts
   =============
*/

.mat-icon--large {

}

.body__button-add__text {
   margin-top: 0.5em;
   color: #b3b3b3;
}

.body__button-add:hover .body__button-add__text{
   color: #4a88da;
}
