<mat-card>
   <app-event-search (filterEvent)="onFilterEvent($event)"></app-event-search>
</mat-card>

<mat-grid-list [cols]="columns" rowHeight="250px" gutterSize="20px" (window:resize)="onResize($event)">

   <mat-grid-tile *ngFor="let event of events">
      <div class="flex--column align--center">
         <app-event-card [event]="event"> </app-event-card>
      </div>
   </mat-grid-tile>

   <p *ngIf="events.length === 0" class="noEventsFoundText">
      Geen evenementen gevonden voor deze dagen
   </p>

</mat-grid-list>
