mat-card {
   margin: 8px;
   padding: 0px;
}

.grid-tile {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.event-card {
   min-width: 400px;
}

.noEventsFoundText {
   margin: 8px;
}
