.overviewTableHeader {
   display: flex;
   flex-direction: row;
   padding-top: 0.2em;
   margin: 0 0.5em;
   margin-bottom: -0.2em;
}

.overviewTableHeader button {
   margin: 1em;
}

.mat-form-field {
   font-size: 14px;
   width: 100%;
   margin: 0 0.3em;
}

.mat-column-paginator {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.action-list {
   display: flex;
   justify-content: center;
   align-content: space-between;
}
.action-list button {
   margin: 0px 8px;
}

.mat-column-addButton {
   border: 0;
}

.overview-table {
   overflow: auto;
   overflow-y: hidden;
   margin: 10px auto;
   max-width: 1134px;
}

table {
   width: 100%;
}

.mat-header-row {
   background-color: var(--singer-theme-primary);
   min-height: 41px;
}

.mat-header-cell {
   font-size: 0.9em;
   color: var(--singer-theme-light-primary-text);
}

/* Sorting arrow */
::ng-deep .mat-sort-header-arrow {
   color: var(--singer-theme-light-primary-text);
}

/* Column */
.mat-column-name,
.mat-column-location,
.mat-column-location,
.mat-column-ageGroups,
.mat-column-size,
.mat-column-price,
.mat-column-startDateTime,
.mat-column-endDateTime,
.mat-column-hasDayCareBefore,
.mat-column-hasDayCareAfter {
   padding: 10px;
}
