
/* GLOBAL FORM STYLING */
.details-form-container {
   margin: 10px auto;
   display: flex;
   flex-direction: column;
}

/* SPECIFIC ELEMENT STYLING */

/* SECTION TITLE STYLING */
.section-title {
   font-family: Arial, Helvetica, sans-serif;
}

/* BUTTON ROW STYLING */
.button-row {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.flex--spacer {
   flex: 1 1 auto;
}

div .mat-form-field {
   margin-right: 20px;
}
