<!-- Form Dialog Title -->
<h2 mat-dialog-title>Toevoegen/bewerken</h2>

<!-- Form Dialog Content -->
<mat-dialog-content>
   <!-- Details Form -->
   <form [formGroup]="formControlGroup" class="details-form-container">
      <!-- Event Fields Title -->
      <h3 class="section-title">Evenement</h3>

      <!-- Title Field -->
      <mat-form-field>
         <input
            matInput
            [placeholder]="titleFieldPlaceholder"
            formControlName="titleFieldControl"
         />
         <mat-error *ngIf="formControlGroup.controls.titleFieldControl.invalid">
            <div
               *ngIf="
                  formControlGroup.controls.titleFieldControl.errors.required
               "
            >
               Titel is een verplicht veld.
            </div>
            <div
               *ngIf="
                  formControlGroup.controls.titleFieldControl.errors.minlength
               "
            >
               Titel moet minstens {{ minTitleLength }} karakters bevatten.
            </div>
            <div
               *ngIf="
                  formControlGroup.controls.titleFieldControl.errors.maxlength
               "
            >
               Titel mag maximum {{ maxTitleLength }} karakters bevatten.
            </div>
         </mat-error>
      </mat-form-field>

      <!-- Description Field -->
      <mat-form-field>
         <textarea
            matInput
            [placeholder]="descriptionFieldPlaceholder"
            formControlName="descriptionFieldControl"
            rows="4"
         ></textarea>
         <mat-error
            *ngIf="formControlGroup.controls.descriptionFieldControl.invalid"
         >
            <div
               *ngIf="
                  formControlGroup.controls.descriptionFieldControl.errors
                     .maxlength
               "
            >
               Beschrijving mag maximum {{ maxDescriptionLength }} karakters
               bevatten.
            </div>
         </mat-error>
      </mat-form-field>
      <div>
         <!-- Location Field -->
         <mat-form-field>
            <mat-label>Locatie evenement</mat-label>
            <mat-select
               [compareWith]="compareLocations"
               formControlName="locationFieldControl"
               [(value)]="selectedLocation"
            >
               <mat-option
                  *ngFor="let availableLocation of availableLocations"
                  [value]="availableLocation"
               >
                  {{ availableLocation.name }}
               </mat-option>
            </mat-select>
            <mat-error
               *ngIf="formControlGroup.controls.locationFieldControl.invalid"
            >
               <div
                  *ngIf="
                     formControlGroup.controls.locationFieldControl.errors
                        .required
                  "
               >
                  Locatie is een verplicht veld.
               </div>
            </mat-error>
         </mat-form-field>

         <!-- AllowedAgeGroups Field -->
         <mat-form-field>
            <mat-label>Leeftijdsgroepen</mat-label>
            <mat-select
               [compareWith]="compareAgeGroups"
               formControlName="allowedAgeGroupsFieldControl"
               multiple
            >
               <mat-option
                  *ngFor="let ageGroup of ageGroups"
                  [value]="ageGroup"
               >
                  {{ ageGroup | agegroupPipe }}
               </mat-option>
            </mat-select>
            <mat-error
               *ngIf="
                  formControlGroup.controls.allowedAgeGroupsFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.allowedAgeGroupsFieldControl
                        .errors.required
                  "
               >
                  Leeftijdsgroepen is een verplicht veld.
               </div>
            </mat-error>
         </mat-form-field>

         <!-- MaxRegistrants Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="maxRegistrantsFieldPlaceholder"
               formControlName="maxRegistrantsFieldControl"
               type="number"
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.maxRegistrantsFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.maxRegistrantsFieldControl.errors
                        .required
                  "
               >
                  Aantal toegelaten personen is een verplicht veld.
               </div>
               <div
                  *ngIf="
                     formControlGroup.controls.maxRegistrantsFieldControl.errors
                        .min
                  "
               >
                  Aantal toegelaten personen moet minstens
                  {{ minMaxRegistrants }} zijn.
               </div>
               <div
                  *ngIf="
                     formControlGroup.controls.maxRegistrantsFieldControl.errors
                        .max
                  "
               >
                  Aantal toegelaten personen mag maximum
                  {{ maxMaxRegistrants }} zijn.
               </div>
            </mat-error>
         </mat-form-field>

         <!-- Cost Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="costFieldPlaceholder"
               formControlName="costFieldControl"
               type="number"
            />
            <mat-error
               *ngIf="formControlGroup.controls.costFieldControl.invalid"
            >
               <div
                  *ngIf="
                     formControlGroup.controls.costFieldControl.errors.required
                  "
               >
                  Prijs is een verplicht veld.
               </div>
               <div
                  *ngIf="formControlGroup.controls.costFieldControl.errors.min"
               >
                  Prijs mag minstens {{ minCost }} zijn.
               </div>
               <div
                  *ngIf="formControlGroup.controls.costFieldControl.errors.max"
               >
                  Prijs mag maximum {{ maxCost }} zijn.
               </div>
            </mat-error>
         </mat-form-field>
      </div>
      <!-- End Of Section -->
      <mat-divider></mat-divider>

      <!-- Date Fields Title -->
      <h3 class="section-title">Datums</h3>

      <div>
         <!-- StartRegistrationDate Field -->
         <mat-form-field>
            <input
               matInput
               [min]="today"
               [matDatepicker]="startRegistrationDatePicker"
               [placeholder]="startRegistrationDateFieldPlaceholder"
               formControlName="startRegistrationDateFieldControl"
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.startRegistrationDateFieldControl
                     .invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.startRegistrationDateFieldControl
                        .errors.required
                  "
               >
                  Start datum registratie is een verplicht veld.
               </div>
            </mat-error>
            <mat-datepicker-toggle
               matSuffix
               [for]="startRegistrationDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startRegistrationDatePicker></mat-datepicker>
         </mat-form-field>

         <!-- EndRegistrationDate Field -->
         <mat-form-field>
            <input
               matInput
               [min]="today"
               [matDatepicker]="endRegistrationDatePicker"
               [placeholder]="endRegistrationDateFieldPlaceholder"
               formControlName="endRegistrationDateFieldControl"
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.endRegistrationDateFieldControl
                     .invalid
               "
            >
               <mat-error
                  *ngIf="
                     formControlGroup.controls.endRegistrationDateFieldControl
                        .invalid
                  "
               >
                  <div
                     *ngIf="
                        formControlGroup.controls
                           .endRegistrationDateFieldControl.errors.required
                     "
                  >
                     Eind datum registratie is een verplicht veld.
                  </div>
               </mat-error>
            </mat-error>
            <mat-datepicker-toggle
               matSuffix
               [for]="endRegistrationDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endRegistrationDatePicker></mat-datepicker>
         </mat-form-field>

         <!-- finalCancellationDateTime Field -->
         <mat-form-field>
            <input
               matInput
               [min]="today"
               [matDatepicker]="finalCancellationDatePicker"
               [placeholder]="finalCancellationDateFieldPlaceholder"
               formControlName="finalCancellationDateFieldControl"
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.finalCancellationDateFieldControl
                     .invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.finalCancellationDateFieldControl
                        .errors.required
                  "
               >
                  Uiterste registratie datum is een verplicht veld.
               </div>
            </mat-error>
            <mat-datepicker-toggle
               matSuffix
               [for]="finalCancellationDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #finalCancellationDatePicker></mat-datepicker>
         </mat-form-field>
      </div>
      <!-- RegistrationOnDailyBasis Field -->
      <mat-form-field>
         <mat-select
            mat-input
            [placeholder]="registrationOnDailyBasisFieldPlaceholder"
            formControlName="registrationOnDailyBasisFieldControl"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
         <mat-error
            *ngIf="
               formControlGroup.controls.registrationOnDailyBasisFieldControl
                  .invalid
            "
         >
            <div
               *ngIf="
                  formControlGroup.controls.registrationOnDailyBasisFieldControl
                     .errors.required
               "
            >
               Registratie op dagelijkse basis is een verplicht veld.
            </div>
         </mat-error>
      </mat-form-field>
      <div>
         <!-- StartDate Field -->
         <mat-form-field>
            <input
               matInput
               [min]="today"
               [matDatepicker]="startDatePicker"
               [placeholder]="startDateFieldPlaceholder"
               formControlName="startDateFieldControl"
            />
            <mat-error
               *ngIf="formControlGroup.controls.startDateFieldControl.invalid"
            >
               <div
                  *ngIf="
                     formControlGroup.controls.startDateFieldControl.errors
                        .required
                  "
               >
                  Start datum is een verplicht veld.
               </div>
            </mat-error>
            <mat-datepicker-toggle
               matSuffix
               [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
         </mat-form-field>

         <!-- EndDate Field -->
         <mat-form-field>
            <input
               matInput
               [matDatepicker]="endDatePicker"
               [min]="today"
               [placeholder]="endDateFieldPlaceholder"
               formControlName="endDateFieldControl"
            />
            <mat-error
               *ngIf="formControlGroup.controls.endDateFieldControl.invalid"
            >
               <div
                  *ngIf="
                     formControlGroup.controls.endDateFieldControl.errors
                        .required
                  "
               >
                  Eind datum is een verplicht veld.
               </div>
            </mat-error>
            <mat-datepicker-toggle
               matSuffix
               [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
         </mat-form-field>

         <!-- dailyStartTime Field -->
         <mat-form-field>
            <input
               matInput
               [min]="today"
               [ngxTimepicker]="dailyStartTimePicker"
               [format]="24"
               [placeholder]="dailyStartTimePlaceholder"
               formControlName="dailyStartTimeFieldControl"
               [value]="
                  formControlGroup.controls.dailyStartTimeFieldControl.value
               "
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.dailyStartTimeFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.dailyStartTimeFieldControl.errors
                        .required
                  "
               >
                  Start tijd is een verplicht veld.
               </div>
            </mat-error>
            <ngx-material-timepicker
               #dailyStartTimePicker
               [ngxMaterialTimepickerTheme]="singerTimePickerTheme"
            ></ngx-material-timepicker>
         </mat-form-field>

         <!-- DailyEndTime Field -->
         <mat-form-field>
            <input
               matInput
               [ngxTimepicker]="dailyEndTimePicker"
               [format]="24"
               [placeholder]="dailyEndTimePlaceholder"
               formControlName="dailyEndTimeFieldControl"
               [value]="
                  formControlGroup.controls.dailyEndTimeFieldControl.value
               "
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.dailyEndTimeFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.dailyEndTimeFieldControl.errors
                        .required
                  "
               >
                  Eind tijd is een verplicht veld.
               </div>
            </mat-error>
            <ngx-material-timepicker
               #dailyEndTimePicker
               [ngxMaterialTimepickerTheme]="singerTimePickerTheme"
            ></ngx-material-timepicker>
         </mat-form-field>
      </div>

      <!-- End Of Section -->
      <mat-divider></mat-divider>

      <!-- Care Fields Title -->
      <h3 class="section-title">Opvang</h3>

      <div>
         <!-- HasDayCareBefore Field -->
         <mat-form-field>
            <mat-select
               mat-input
               [placeholder]="hasDayCareBeforeFieldPlaceholder"
               formControlName="hasDayCareBeforeFieldControl"
            >
               <mat-option value="true">Ja</mat-option>
               <mat-option value="false">Nee</mat-option>
            </mat-select>
            <mat-error
               *ngIf="
                  formControlGroup.controls.hasDayCareBeforeFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.hasDayCareBeforeFieldControl
                        .errors.required
                  "
               >
                  Heeft opvang voor het evenement is een verplicht veld.
               </div>
            </mat-error>
         </mat-form-field>

         <!-- DayCareBeforeStartTime Field -->
         <mat-form-field
            *ngIf="
               formControlGroup.controls.hasDayCareBeforeFieldControl.value ===
               'true'
            "
         >
            <input
               matInput
               [min]="today"
               [ngxTimepicker]="dayCareBeforeStartTimePicker"
               [format]="24"
               [placeholder]="dayCareBeforeStartTimeFieldPlaceholder"
               formControlName="dayCareBeforeStartTimeFieldControl"
               [value]="
                  formControlGroup.controls.dayCareBeforeStartTimeFieldControl
                     .value
               "
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.dayCareBeforeStartTimeFieldControl
                     .invalid
               "
            >
               {{
                  getRequiredFieldErrorMessage(
                     formControlGroup.controls
                        .dayCareBeforeStartTimeFieldControl
                  )
               }}
            </mat-error>
            <ngx-material-timepicker
               #dayCareBeforeStartTimePicker
            ></ngx-material-timepicker>
         </mat-form-field>
      </div>
      <div>
         <!-- HasDayCareAfter Field -->
         <mat-form-field>
            <mat-select
               mat-input
               [placeholder]="hasDayCareAfterFieldPlaceholder"
               formControlName="hasDayCareAfterFieldControl"
            >
               <mat-option value="true">Ja</mat-option>
               <mat-option value="false">Nee</mat-option>
            </mat-select>
            <mat-error
               *ngIf="
                  formControlGroup.controls.hasDayCareAfterFieldControl.invalid
               "
            >
               <div
                  *ngIf="
                     formControlGroup.controls.hasDayCareAfterFieldControl
                        .errors.required
                  "
               >
                  Heeft opvang na het evenement is een verplicht veld.
               </div>
            </mat-error>
         </mat-form-field>

         <!-- DayCareAfterEndTime Field -->
         <mat-form-field
            *ngIf="
               formControlGroup.controls.hasDayCareAfterFieldControl.value ===
               'true'
            "
         >
            <input
               matInput
               [min]="today"
               [ngxTimepicker]="dayCareAfterEndTimePicker"
               [format]="24"
               [placeholder]="dayCareAfterEndTimeFieldPlaceholder"
               formControlName="dayCareAfterEndTimeFieldControl"
               [value]="
                  formControlGroup.controls.dayCareAfterEndTimeFieldControl
                     .value
               "
            />
            <mat-error
               *ngIf="
                  formControlGroup.controls.dayCareAfterEndTimeFieldControl
                     .invalid
               "
            >
               {{
                  getRequiredFieldErrorMessage(
                     formControlGroup.controls.dayCareAfterEndTimeFieldControl
                  )
               }}
            </mat-error>
            <ngx-material-timepicker
               #dayCareAfterEndTimePicker
            ></ngx-material-timepicker>
         </mat-form-field>
      </div>
      <!-- Button Row -->
      <mat-dialog-actions class="button-row">
         <!-- Close Button -->
         <button
            mat-raised-button
            (click)="closeForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
            type="button"
         >
            Sluiten
         </button>

         <!-- Add Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
            *ngIf="isAdding"
         >
            Toevoegen
         </button>

         <!-- Save Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
            *ngIf="!isAdding"
         >
            Opslaan
         </button>
      </mat-dialog-actions>
   </form>
</mat-dialog-content>
