<!-- Form Dialog Title -->
<h2 mat-dialog-title>Inschrijvingslijst</h2>

<!-- Form Dialog Content -->

<mat-dialog-content>
   <app-care-user-search
      (userSelected)="userSelected($event)"
   ></app-care-user-search
>
<div *ngIf="(userInfo$ | async) as userInfo" class="user-info">
   <span>{{ userInfo.name }}</span>
      <span>{{ userInfo.isRegistered ? ' is geregistreerd' : ' is nog niet geregistreerd' }}</span>
      <app-single-registrations [careUsers]="careUsers" [eventSlots]="event.eventSlots" [eventId]="event.id"></app-single-registrations>
</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
   <button mat-stroked-button color="primary" (click)="close()">
      Annuleer
   </button>
   <button mat-raised-button color="primary" (click)="save()">Opslaan</button>
</mat-dialog-actions>
