<div>
   <mat-card>
      <mat-card-header>
         <mat-card-title>Welkom bij Sint-Gerardus</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <p>
            Dit is de website waarop U uw zorgbehoevenden kan inschrijven voor opvang die wij voorzien hebben gedurende schoolverlofperiodes.
         </p>
         <p>
            Indien U reeds een account heeft in ons systeem, kan U <a [routerLink]="['/login']">hier</a> inloggen, of door op de 'Login' knop bovenaan rechts te klikken.
         </p>
         <p>
            In het geval dat U nog geen account hebt, gelieve ons een email te sturen op volgend adres: <a href="mailto:info@sintgerardus.be">info@sintgerardus.be</a>
         </p>
      </mat-card-content>
   </mat-card>
</div>
<mat-drawer-container class="example-container" hasBackdrop="false">
   <mat-drawer #drawer mode="over">
      <app-event-search></app-event-search>
   </mat-drawer>

   <app-event-list [events]="events"></app-event-list>

 </mat-drawer-container>
