
.form-container{
   display: flex;
   flex-direction: column;
   width: 400px;
   height: calc(100vh - 80px);
   margin: auto;
   vertical-align: middle;
   justify-content: center;

}
.form-container .form{
   display: flex;
   flex-direction: column;
}
.form-container .form-input{
   display: flex;
   flex-direction: column;
}
.form-container  .action{
   display: flex;
   justify-content: space-between;
   flex-flow: row-reverse;
   margin:4px;
   align-items: center;
}
.form-container .action .text-danger{
   width: 250px;
   color: #e4594d;
}
