<div class="form-container">
   <mat-card>
      <form novalidate [formGroup]="formGroup" (ngSubmit)="submit()" class="form">
         <mat-card-title>Wachtwoord wijzigen</mat-card-title>
         <mat-card-subtitle
            ><p>
               Wijzig hier je wachtwoord
            </p></mat-card-subtitle
         >
         <mat-card-content class="form-input">
            <mat-form-field>
               <input
                  matInput
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Wachtwoord"
               />
               <mat-error *ngIf="formGroup.controls.password.errors?.required">Dit is een verplicht veld</mat-error>
            </mat-form-field>
            <mat-form-field>
               <input
                  matInput
                  type="password"
                  formControlName="passwordVerify"
                  class="form-control"
                  placeholder="Wachtwoord bevestigen"
               />
               <mat-error *ngIf="formGroup.controls.passwordVerify.errors?.required">Dit is een verplicht veld</mat-error>
               <mat-error *ngIf="formGroup.controls.passwordVerify.errors?.passwordDontMatch">Wachtwoorden zijn niet hetzelfde</mat-error>
            </mat-form-field>
            <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      </mat-card-content>
         <mat-card-actions class="action">
            <button mat-raised-button type="submit" color="primary">
               Wijzig wachtwoord
            </button>
            <!-- <div class="text-danger" [hidden]="!form.errors?.notAuthorized">
               Ongeldige aanmeld gegevens
            </div> -->
         </mat-card-actions>
      </form></mat-card
   >
</div>
