<header>
   <mat-toolbar color="primary">
      <span>Singer</span>
      <span class="fill-remaining-space"></span>
      <a
         mat-raised-button
         [routerLink]="['/dashboard']"
         [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="mat-accent"
      >
         Start
      </a>
      <a
         *ngIf="isAuthenticated() && isAdmin"
         mat-raised-button
         [routerLink]="['/admin/voogden']"
         routerLinkActive="mat-accent"
      >
         Voogden
      </a>
      <a
         *ngIf="isAuthenticated() && isAdmin"
         mat-raised-button
         [routerLink]="['/admin/zorggebruikers']"
         routerLinkActive="mat-accent"
      >
         Zorg gebruikers
      </a>
      <a
         *ngIf="isAuthenticated() && isAdmin"
         mat-raised-button
         [routerLink]="['/admin/beheerders']"
         routerLinkActive="mat-accent"
      >
         Beheerders
      </a>
      <a
         *ngIf="isAuthenticated() && isAdmin"
         mat-raised-button
         [routerLink]="['/admin/evenementen']"
         routerLinkActive="mat-accent"
      >
         Evenementen
      </a>
      <a
         *ngIf="isAuthenticated()"
         mat-raised-button
         [routerLink]="['/dashboard/about']"
         routerLinkActive="mat-accent"
      >
         Over
      </a>
      <a
         *ngIf="!isAuthenticated()"
         mat-raised-button
         [routerLink]="['/login']"
         routerLinkActive="mat-accent"
      >
         Login
      </a>
      <button
         *ngIf="isAuthenticated()"
         mat-raised-button
         (click)="onLogoutClicked()"
      >
         Logout
      </button>
   </mat-toolbar>
</header>
