<div class="container">
   <!-- Confirm Field -->
   <mat-form-field *ngIf="isDeleting" class="confirmField">
      <input matInput [placeholder]="Naam" formControlName="confirmFieldControl" />
      <mat-error *ngIf="confirmTitleFieldControl.invalid">
         <div *ngIf="!deleteConfirmationOK">
            Het bevestigingsveld komt niet overeen met de naam.
         </div>
         <div *ngIf="
        confirmTitleFieldControl.errors.minlength
     ">
            Het bevestigingsveld moet minstens {{ minNameLength }} karakters bevatten.
         </div>
         <div *ngIf="
        confirmTitleFieldControl.errors.maxlength
     ">
            Het bevestigingsveld mag maximum {{ maxNameLength }} karakters bevatten.
         </div>
      </mat-error>
   </mat-form-field>

   <!-- Cancel Button -->
   <button mat-raised-button (click)="disableDeleteEvent()" aria-label="Annuleren" type="button" *ngIf="isDeleting">
      Annuleren
   </button>

   <!-- Delete Button -->
   <button mat-raised-button color="warn" (click)="submitDeleteEvent()" aria-label="Verwijderen" type="button">
      Evenement Verwijderen
   </button>
</div>
