/* SMALL RESOLUTIONS */
/* FILTER FORM FIELD STYLING */
.mat-form-field {
   font-size: 14px;
   margin: 10px auto;
   display: block;
}

/* MAIN TABLE STYLING */
.overview-table {
   overflow: auto;
   /* Hide Vertical scroll bar */
   overflow-y: hidden;
   margin: 10px auto;
}

table {
   width: 100%;
}

/* MEDIUM - LARGE RESOLUTIONS */
@media (min-width: 1150px) {
   /* FILTER FORM FIELD STYLING */
   .mat-form-field {
      font-size: 14px;
      width: 1134px;
      margin: 10px auto;
      display: block;
   }

   /* MAIN TABLE STYLING */
   .overview-table {
      width: 1134px;
      overflow: auto;
      /* Hide Vertical scroll bar */
      overflow-y: hidden;
      margin: 10px auto;
   }
}

/* TABLE HEADER STYLING */
th {
   font-size: 0.9em;
   background-color: #3f51b5;
   color: white;
}

/* SORTING ARROW STYLING */
::ng-deep .mat-sort-header-arrow {
   color: #ffffff;
}

/* SELECTABLE ROW STYLING */
tr.selectable:hover {
   background: rgb(149, 190, 248);
   cursor: pointer;
}

tr.selectable:active {
   background: #efefef;
}

/* INDIVIDUAL COLUMN STYLING */
.mat-column-name {
   padding: 10px;
}

.mat-column-location {
   padding: 10px;
}

.mat-column-location .locationName {
   font-weight: bold;
}

.mat-column-ageGroups {
   padding: 10px;
}

.mat-column-size {
   padding: 10px;
}

.mat-column-price {
   padding: 10px;
}

.mat-column-startDateTime {
   padding: 10px;
}

.mat-column-endDateTime {
   padding: 10px;
}

.mat-column-hasDayCareBefore {
   padding: 10px;
}

.mat-column-hasDayCareAfter {
   padding: 10px;
}

/* MAXREGISTRANTS CELL STYLING */
.maxRegistrantsExceeded {
   color: rgb(253, 59, 59);
   font-weight: bold;
}

/* TABLE FOOTER STYLING */
.tableButton {
   font-family: Roboto, Arial, sans-serif;
   font-size: 1em;
   color: rgb(37, 37, 186);
}

.spacer {
   flex: 1 1 auto;
}
