<!-- Mat Form Field Filter -->
<form [formGroup]="formControlGroup">
   <mat-form-field>
      <input
         matInput
         #filterInput
         placeholder="Filter"
         formControlName="filterFieldControl"
      />
      <mat-error *ngIf="formControlGroup.controls.filterFieldControl.invalid">
         <div
            *ngIf="
               formControlGroup.controls.filterFieldControl.errors.maxlength
            "
         >
            Filter mag maximum {{ maxFilterLength }} karakters bevatten.
         </div>
      </mat-error>
   </mat-form-field>
</form>

<!-- Mat Table -->
<div class="mat-elevation-z8 overview-table">
   <table mat-table [dataSource]="dataSource" matSort aria-label="evenementen">
      <!-- title Column -->
      <ng-container matColumnDef="title">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
         <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
         <th mat-header-cell *matHeaderCellDef>Locatie</th>
         <td mat-cell *matCellDef="let row">
            <p>
               <span class="locationName">{{ row.location.name }}</span> <br />
               {{ row.location.address }} <br />
               {{ row.location.postalCode }} {{ row.location.city }}
            </p>
         </td>
      </ng-container>

      <!-- AgeGroups Column -->
      <ng-container matColumnDef="ageGroups">
         <th mat-header-cell *matHeaderCellDef>
            Leeftijds Groepen
         </th>
         <td mat-cell *matCellDef="let row">
            <p>
               <span *ngFor="let group of row.allowedAgeGroups">
                  {{ group | agegroupPipe }} <br />
               </span>
            </p>
         </td>
      </ng-container>

      <!-- maxRegistrants Column -->
      <ng-container matColumnDef="maxRegistrants">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Inschrijvingen
         </th>
         <td
            mat-cell
            *matCellDef="let row"
            [ngClass]="{
               maxRegistrantsExceeded: isMaxRegistrantsExceeded(row)
            }"
         >
            {{ row.currentRegistrants }}/{{ row.maxRegistrants }}
         </td>
      </ng-container>

      <!-- cost Column -->
      <ng-container matColumnDef="cost">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Prijs
         </th>
         <td mat-cell *matCellDef="let row">
            {{ row.cost | currency: 'EUR' }}
         </td>
      </ng-container>

      <!-- StartDate Column -->
      <ng-container matColumnDef="startDateTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Datum</th>
         <td mat-cell *matCellDef="let row">
            {{ row.startDateTime | date: 'dd-MM-yyyy' }}
         </td>
      </ng-container>

      <!-- EndDate Column -->
      <ng-container matColumnDef="endDateTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Eind Datum
         </th>
         <td mat-cell *matCellDef="let row">
            {{ row.endDateTime | date: 'dd-MM-yyyy' }}
         </td>
      </ng-container>

      <!-- HasDayCareBefore Column -->
      <ng-container matColumnDef="hasDayCareBefore">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Opvang Voor</th>
         <td mat-cell *matCellDef="let row">
            {{ row.hasDayCareBefore ? 'Ja' : 'Neen' }}
         </td>
      </ng-container>

      <!-- HasDayCareAfter Column -->
      <ng-container matColumnDef="hasDayCareAfter">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Opvang Na</th>
         <td mat-cell *matCellDef="let row">
            {{ row.hasDayCareAfter ? 'Ja' : 'Neen' }}
         </td>
      </ng-container>

      <ng-container matColumnDef="actions">
         <th mat-header-cell *matHeaderCellDef>Acties</th>
         <td mat-cell *matCellDef="let row">
            <div class="action-list">
               <button
                  mat-stroked-button
                  matTooltip="Bewerk evenement"
                  (click)="selectRow(row)"
               >
                  <mat-icon>edit</mat-icon>
               </button>
               <!-- TODO Reintroduce this later (AB#28) -->
               <!-- <button mat-stroked-button
            matTooltip="Bekijk inschrijvingen"
            (click)="manageRegistrations(row)"><mat-icon>people</mat-icon></button> -->
               <button
                  mat-stroked-button
                  matTooltip="Inschrijven"
                  (click)="addRegistration(row)"
               >
                  <mat-icon>person_add</mat-icon>
               </button>
            </div>
         </td>
      </ng-container>

      <!-- AddButton column -->
      <ng-container matColumnDef="addButton">
         <td mat-footer-cell *matFooterCellDef>
            <button
               mat-icon-button
               color="primary"
               (click)="addSingerEvent()"
               title="Evenement toevoegen"
               aria-label="Toevoegen knop"
            >
               <mat-icon>add_box</mat-icon>
            </button>
         </td>
      </ng-container>

      <!-- Paginator column -->
      <ng-container matColumnDef="paginator">
         <td mat-footer-cell *matFooterCellDef colspan="20">
            <!-- Paginator -->
            <mat-paginator
               #paginator
               [length]="dataSource?.totalSize$ | async"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[1, 15, 25, 50, 100]"
               showFirstLastButtons
            >
            </mat-paginator>
         </td>
      </ng-container>

      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Data Row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Footer Row -->
      <tr mat-footer-row *matFooterRowDef="['addButton', 'paginator']"></tr>
   </table>
</div>
