@media (max-width: 767px) {
   /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
   .body-content {
      padding-top: 50px;
   }
}

/* To make app-root fill 100% of the screen */
:host {
   position: absolute;
   overflow: scroll;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background-image: url(../assets/svg/SingerFigures.svg);
   background-repeat: repeat;
 }
