<mat-list>
   <ng-container *ngFor="let user of careUsers">
      <mat-list-item>
         <div class="name-column">{{ user.name }}</div>
         <div>
            <mat-icon
               *ngIf="getRegistrationStatus(user.careUserId) === RegistrationStatus.Pending"
               class="registration-pending"
               matTooltip="Aanvraag tot inschrijving ontvangen, moet nog bevestigd worden door Sint-Gerardus"
            >
               access_time
            </mat-icon>
            <mat-icon
               *ngIf="getRegistrationStatus(user.careUserId) === RegistrationStatus.Accepted"
               class="registration-accepted"
               matTooltip="Inschrijving vastgelegd en bevestigd door Sint-Gerardus"
               >check_circle_outline</mat-icon
            >
            <mat-icon
               *ngIf="getRegistrationStatus(user.careUserId) === RegistrationStatus.Rejected"
               class="registration-rejected"
               matTooltip="Aanvraag tot inschrijving ontvangen, deze werd echter geweigerd door Sint-Gerardus"
               >error_outline</mat-icon
            >
            <button
               mat-icon-button
               color="primary"
               (click)="registerCareUserOnEvent(user)"
               *ngIf="getRegistrationStatus(user.careUserId) === 0"
               matTooltip="Aanvraag tot inschrijving indienen"
            >
               <mat-icon>add_circle</mat-icon>
            </button>
         </div>
      </mat-list-item></ng-container
   >
</mat-list>
<h4>Dit evenement gaat door op de volgende data:</h4>
<mat-list>
   <mat-list-item *ngFor="let slot of eventSlots">
      Van {{ slot.startDateTime | date: 'dd-MM-yyyy HH:mm' }} tot
      {{ slot.endDateTime | date: 'dd-MM-yyyy HH:mm' }}
   </mat-list-item>
</mat-list>
