.name-column {
   width: 40%;
}
.registration-pending {
   padding-left: 8px;
}

.registration-rejected {
   color: red;
   padding-left: 8px;
}

.registration-accepted {
   color: green;
   padding-left: 8px;
}

.timeslot-table .user-column {
   justify-content: center;
   text-align: center;
}
