/*
   =============
     Variables
   =============
*/

.card {
   --font-size: 1em;
   --min-width: 12em;
   --max-width: 15em;
   --head-height: 8em;
   --body-height: 10em;
   --buttons-height: 5em;
}

/*
   =============
   Global Styles
   =============
*/

.card {
   margin: 10px;
}

/*
   =============
       Fonts
   =============
*/

.card-content {
   font-size: var(--font-size);
}

.head__initials {
   font-size: 2.5em;
   color: white;
}

.head__title {
   font-size: 1.3em;
}

/*
   =============
      Layout
   =============
*/

.card-content {
   position: relative;
   display: grid;
   grid-template:
      'head' var(--head-height)
      'body' var(--body-height)
      'buttons' var(--buttons-height)
      / minmax(var(--min-width), var(--max-width));
}

.head {
   grid-area: head;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.head__initials {
   width: 2em;
   height: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.head__title {
   margin-top: 1em;
}

.body {
   grid-area: body;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.body__info__mail,
.body__info__address,
.body__info__birthdate,
.body__info__agegroup {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   margin: 0.5em;
}

.body__info__text {
   max-width: calc(var(--max-width) - 1em);
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.body__info__agegroup {
   margin-top: 1em;
}

.body__info__text {
   margin-left: 0.5em;
}

.buttons {
   grid-area: buttons;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.buttons__edit {
   margin: 15%;
}

.buttons__delete {
   margin: 15%;
}

/*
   =============
     Background
   =============
*/

.head__initials {
   border-radius: 50%;
}
