<!-- Form Dialog Title -->
<h2 mat-dialog-title>Inschrijvingslijst voor evenement: {{ event.title }}</h2>

<!-- Form Dialog Content -->

<mat-dialog-content>
   <div *ngIf="selectedEventSlot">
      <div class="date-selector">
         <mat-form-field *ngIf="event.eventSlots.length > 1">
            <mat-label>Datum</mat-label>
            <mat-select [(value)]="selectedEventSlot">
               <mat-option *ngFor="let eventSlot of event.eventSlots" [value]="eventSlot"
                  >{{ eventSlot.startDateTime | date: 'dd-MM-yyyy HH:mm' }} -
                  {{ eventSlot.endDateTime | date: 'dd-MM-yyyy HH:mm' }}</mat-option
               >
            </mat-select>
         </mat-form-field>
         <p *ngIf="event.eventSlots.length === 1">
            {{ selectedEventSlot.startDateTime | date: 'dd-MM-yyyy HH:mm' }} -
            {{ selectedEventSlot.endDateTime | date: 'dd-MM-yyyy HH:mm' }}
         </p>
      </div>
      <mat-list *ngIf="selectedEventSlot">
         <p *ngIf="!selectedEventSlot.registrants || selectedEventSlot.registrants.length === 0">
            Geen inschrijvingen gevonden voor deze datum
         </p>
         <mat-list-item *ngFor="let registrant of selectedEventSlot.registrants">
            <div class="registrant">
               <span>{{ registrant.name }}</span>
               <mat-form-field class="location-selector" *ngIf="hasDaycare">
                  <mat-label>Opvanglocatie</mat-label>
                  <mat-select
                     [compareWith]="compareLocations"
                     [(value)]="registrant.daycareLocation"
                     (selectionChange)="changeLocation($event, registrant.registrationId)"
                  >
                     <mat-option *ngFor="let location of availableLocations" [value]="location">{{
                        location.name
                     }}</mat-option>
                  </mat-select>
               </mat-form-field>
               <mat-button-toggle-group
                  class="status-icon"
                  [value]="registrant.registrationStatus"
                  (change)="changeRegistration($event, registrant.registrationId)"
               >
                  <mat-button-toggle [value]="registrationStatus.Accepted" matTooltip="Inschrijving goedkeuren"
                     ><mat-icon class="registration-accepted">check_circle_outline</mat-icon></mat-button-toggle
                  >
                  <mat-button-toggle
                     [disabled]="'true'"
                     [value]="registrationStatus.Pending"
                     matTooltip="Nog te verwerken aanvraag tot inschrijving"
                     ><mat-icon class="registration-pending">
                        access_time
                     </mat-icon></mat-button-toggle
                  >
                  <mat-button-toggle [value]="registrationStatus.Rejected" matTooltip="Inschrijving niet goedkeuren"
                     ><mat-icon class="registration-rejected">error_outline</mat-icon></mat-button-toggle
                  >
               </mat-button-toggle-group>
            </div></mat-list-item
         >
      </mat-list>
   </div>
   <div *ngIf="!event.eventSlots">
      <p>Registraties laden</p>
   </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
   <button mat-raised-button color="primary" title="Lijst downloaden" aria-label="Lijst downloaden" (click)="export()">
      Download
   </button>
   <button mat-raised-button (click)="close()" title="Sluiten" aria-label="sluiten">
      Sluit
   </button>
</mat-dialog-actions>
