.flex--column {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 17em;
}

.flex--row {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.flex--wrap {
   flex-wrap: wrap;
}

.flex--spacer {
   flex: 1 1 auto;
}

.mat-form-field {
   margin-right: 1.5em;
   max-width: 27em;
}

.margin--right {
   margin-right: 1.5em;
}
