<div class="form-container">
   <mat-card>
      <mat-card-title>Aanmelden</mat-card-title>
      <mat-card-subtitle
         ><p>
            Nog geen account? Neem dan contact met ons op.
         </p></mat-card-subtitle
      >
      <mat-card-content>
         <form
            novalidate
            [formGroup]="form"
            (ngSubmit)="submit()"
            class="form"
         >
            <mat-form-field>
               <input
                  matInput
                  formControlName="username"
                  class="form-control"
                  placeholder="Username"
               />
            </mat-form-field>
            <mat-form-field>
               <input
                  matInput
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
               />
            </mat-form-field></form
      ></mat-card-content>
      <mat-card-actions class="action">
         <button mat-raised-button type="submit" (click)="submit()" color="primary">
            Aanmelden
         </button>
         <div class="text-danger" [hidden]="!form.errors?.notAuthorized">
            Ongeldige aanmeld gegevens
         </div>
      </mat-card-actions></mat-card
   >
</div>
