/*
   Layout
*/
.timeline {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.orb {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0.5em 0em;
   text-align: center;
}

.orb__icon {
   position: relative;
   font-size: 1.3em;
   padding-top: 0.3em;
   padding-bottom: 0.1em;
   width: 2em;
}

.connector {
   margin: 1.6em -0.2em;
   width: 5em;
   height: 0.5em;
}

/*
   Styling
*/
.orb__icon {
   color: var(--singer-theme-light-primary-text);
   border-radius: 50%;
   background-color: var(--singer-theme-timeline-dark-empty);
   transition: background-color 0s ease;
}

.orb-filled {
   background-color: var(--singer-theme-timeline-dark-filled);
}

.orb__date {
   color: var(--singer-theme-dark-primary-text);
}

.connector {
   background: linear-gradient(
      to left,
      var(--singer-theme-timeline-light-empty) 50%,
      var(--singer-theme-timeline-light-filled) 50%
   );
   background-size: 200% 100%;
   background-position: right bottom;
}

.connected {
   background-position: left bottom;
}

/*
   Animation
*/
.timeline {
   --transition-time: 1s;
}

.animated {
   transition: all var(--transition-time) ease;
}

.animated-orb {
   transition-delay: calc(var(--transition-time) * 0.85);
}
