/* GLOBAL FORM STYLING */
 .details-form-container {
   margin: 10px auto;
   display: flex;
   flex-direction: column;
   overflow: auto;
 }

 /* GLOBAL FORM ELEMENTS STYLING */
 .details-form-container > mat-form-field {
   min-width: 150px;
   max-width: 200px;
   margin: 3px 0px;
 }

 /* SPECIFIC ELEMENT STYLING */

 /* NAME FIELDS STYLING */
 .name-fields {
   display: flex;
   flex-direction: row;
 }

 .name-fields > *:not(:last-child){
   margin-right: 50px;
 }

 /* BUTTON ROW STYLING */
 .button-row > *:not(:last-child){
   margin-right: 30px;
 }
