<mat-card>
   <!-- Details Form -->
   <div class="details-form-container">
      <!-- FORM TITLE -->
      <label class="form-title">Toevoegen/bewerken (enkel admin)</label>

      <div class="name-fields">
         <!-- Lastname Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="lastNameFieldPlaceholder"
               [value]="lastNameFieldValue"
            />
         </mat-form-field>

         <!-- FirstName Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="firstNameFieldPlaceholder"
               [value]="firstNameFieldValue"
            />
         </mat-form-field>
      </div>

      <!-- Birthday Field -->
      <mat-form-field>
         <input
            matInput
            [value]="birthdayFieldValue"
            [min]="birthdayDatePickerMinDate"
            [max]="birthdayDatePickerMaxDate"
            [matDatepicker]="picker"
            [placeholder]="birthdayFieldPlaceholder"
         />
         <mat-datepicker-toggle
            matSuffix
            [for]="picker"
         ></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- CaseNumber Field -->
      <mat-form-field>
         <input
            matInput
            [placeholder]="caseNumberFieldPlaceholder"
            [value]="caseNumberFieldValue"
            required
         />
      </mat-form-field>

      <!-- AgeGroup Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="ageGroupFieldPlaceholder"
            [value]="ageGroupFieldValue"
         >
            <mat-option value="child">Kinderen</mat-option>
            <mat-option value="youngster">Jongeren</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- IsExtern Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="isExternFieldPlaceholder"
            [value]="isExternFieldValue"
         >
            <mat-option value="false">Klas</mat-option>
            <mat-option value="true">Extern</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasTrajectory Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasTrajectoryFieldPlaceholder"
            [value]="hasTrajectoryFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasNormalDayCare Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasNormalDayCareFieldPlaceholder"
            [value]="hasNormalDayCareFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasVacationDayCare Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasVacationDayCareFieldPlaceholder"
            [value]="hasVacationDayCareFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasResources Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasResourcesFieldPlaceholder"
            [value]="hasResourcesFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- Email Field -->

      <!-- Email Field -->

      <!-- Coworkers Field -->

      <!-- Add Field -->

      <!-- Button Row -->
      <div class="button-row">
         <!-- Save Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="closeForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
         >
            Opslaan
         </button>

         <!-- Close Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="closeForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
         >
            Sluiten
         </button>
      </div>
   </div>
</mat-card>
