/* GLOBAL FORM STYLING */
.details-form-container {
   margin: 10px auto;
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 mat-card {
   margin: 10px auto;
   display: flex;
   flex-direction: column;
   width: 73%;
 }

 /* GLOBAL FORM ELEMENTS STYLING */
 .details-form-container > * {
   width: 200px;
 }
