
   <!-- Details Form -->
   <mat-dialog-content class="details-form-container" (keyup)="onKeyUp()">
      <!-- FORM TITLE -->
      <h2 mat-dialog-title>Toevoegen/bewerken (enkel admin)</h2>

      <div class="name-fields">
         <!-- Lastname Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="lastNameFieldPlaceholder"
               [(ngModel)]="lastNameFieldValue"
            />
         </mat-form-field>

         <!-- FirstName Field -->
         <mat-form-field>
            <input
               matInput
               [placeholder]="firstNameFieldPlaceholder"
               [(ngModel)]="firstNameFieldValue"
            />
         </mat-form-field>
      </div>

      <!-- Birthday Field -->
      <mat-form-field>
         <input
            matInput
            [(ngModel)]="birthdayFieldValue"
            [min]="birthdayDatePickerMinDate"
            [max]="birthdayDatePickerMaxDate"
            [matDatepicker]="picker"
            [placeholder]="birthdayFieldPlaceholder"
         />
         <mat-datepicker-toggle
            matSuffix
            [for]="picker"
         ></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- CaseNumber Field -->
      <mat-form-field>
         <input
            matInput
            [placeholder]="caseNumberFieldPlaceholder"
            [(ngModel)]="caseNumberFieldValue"
            [formControl]="caseNumberFieldControl"
            required
         />
         <mat-error *ngIf="caseNumberFieldControl.invalid">{{
            getCaseNumberFieldErrorMessage()
         }}</mat-error>
      </mat-form-field>

      <!-- AgeGroup Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="ageGroupFieldPlaceholder"
            [(ngModel)]="ageGroupFieldValue"
         >
            <mat-option value="child">Kinderen</mat-option>
            <mat-option value="youngster">Jongeren</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- IsExtern Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="isExternFieldPlaceholder"
            [(ngModel)]="isExternFieldValue"
         >
            <mat-option value="false">Klas</mat-option>
            <mat-option value="true">Extern</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasTrajectory Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasTrajectoryFieldPlaceholder"
            [(ngModel)]="hasTrajectoryFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasNormalDayCare Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasNormalDayCareFieldPlaceholder"
            [(ngModel)]="hasNormalDayCareFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasVacationDayCare Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasVacationDayCareFieldPlaceholder"
            [(ngModel)]="hasVacationDayCareFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- HasResources Field -->
      <mat-form-field>
         <mat-select
            [placeholder]="hasResourcesFieldPlaceholder"
            [(ngModel)]="hasResourcesFieldValue"
         >
            <mat-option value="true">Ja</mat-option>
            <mat-option value="false">Nee</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- Email Field -->
      <!-- <mat-form-field>
         <input
            matInput
            [placeholder]="emailFieldPlaceholder"
            [value]="emailFieldValue"
            [formControl]="emailFieldControl"
            required
         />
         <mat-error *ngIf="emailFieldControl.invalid">{{
            getEmailFieldErrorMessage()
         }}</mat-error>
      </mat-form-field> -->

      <!-- Email Field -->

      <!-- Coworkers Field -->

      <!-- Add Field -->

      <!-- Button Row -->
      <mat-dialog-actions class="button-row">

         <!-- Add Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
            *ngIf="isAdding"
         >
            Toevoegen
         </button>

         <!-- Save Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
            [disabled]="!isChangesMade"
            *ngIf="!isAdding"
         >
            Opslaan
         </button>

         <!-- Close Button -->
         <button
            mat-raised-button
            color="primary"
            (click)="closeForm()"
            title="Formulier sluiten"
            aria-label="Formulier sluiten"
         >
            Sluiten
         </button>
      </mat-dialog-actions>
   </mat-dialog-content>
