<div>
   <mat-card>
      <mat-card-header>
         <mat-card-title>Admin Menu</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <button
            type="button"
            mat-raised-button
            color="primary"
            routerLink="/admin/familie-toevoegen"
         >
            Familie toevoegen
         </button>
         <button
            type="button"
            mat-raised-button
            color="primary"
            routerLink="/admin/te-verwerken-inschrijvingen"
         >
            Te verwerken inschrijvingen
         </button>
         <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="buttonClick()"
         >
            Maak datum
         </button>
      </mat-card-content>
   </mat-card>
</div>
