<mat-card class="card">

   <mat-card-title>{{ event.title }}</mat-card-title>

   <mat-card-subtitle>
      <div class="event-subtitle">
         <app-agegroup-chips [agegroups]="event.ageGroups" class="agegroup-chips"></app-agegroup-chips>

         <div class="date-indicator" [matTooltip]="getDurationMessage(event)">
            <mat-icon>access_time</mat-icon>{{ event.startDateTime | date: 'dd-M-yyyy' }}
         </div>
      </div>
   </mat-card-subtitle>

   <mat-card-content>
      <div class="event-description">{{ event.description }}</div>
   </mat-card-content>

   <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="openEventRegistration(event)">
         Meer informatie & Inschrijven
      </button>
   </mat-card-actions>

</mat-card>
