mat-card-content p {
   max-height: 50px;
   text-overflow: ellipsis;
   overflow: auto;
}
.event-subtitle {
   display: flex;
   justify-content: space-between;
}
.date-indicator {
   display: flex;
   align-items: center;
   font-size: 12px;
   min-width: 100px;
}

.agegroup-chips {
   max-height: 50px;
   overflow-y: auto;
   overflow-x: hidden;
   min-height: 40px;
}
