<div class="card">
   <mat-card>
      <div class="flex--row">
         <mat-card-title>{{ event.title }}</mat-card-title>
         <div class="flex--spacer"></div>
         <div class="flex--column secondary--text small--font" [matTooltip]="getDurationMessage(event)">
            <div class="flex--row align--center">
               <mat-icon>calendar_today</mat-icon>{{ event.startDateTime | date: 'dd-M-yyyy' }}
            </div>
            <div class="flex--row align--center">
               <mat-icon>access_time</mat-icon>{{ event.startDateTime | date: 'hh-mm' }}
            </div>
         </div>
      </div>

      <app-agegroup-chips [agegroups]="event.ageGroups" class="flex--row"></app-agegroup-chips>

      <p class="event-description secondary--text">{{ event.description }}</p>

      <div class="flex--row align--center">
         <p class="secondary--text">Extra kost: {{ event.cost | singereventCost }}</p>
         <div class="flex--spacer"></div>
         <button mat-stroked-button color="primary" (click)="openRegistration(event)">
            Meer informatie & Inschrijven
         </button>
      </div>
   </mat-card>
</div>
