.card {
   max-width: 400px;
}

.event-subtitle {
   display: flex;
   justify-content: space-between;
}

.date-indicator {
   display: flex;
   align-items: center;
   font-size: 0.9em;
   min-width: 7em;
}

.agegroup-chips {
   min-height: 40px;
   margin-top:8px;
}

.event-description {
   height: 2.4em;
   line-height: 1.2em;
   max-width: 390px;
   overflow: hidden;
   white-space: pre-line;
}
