<mat-card class="eventRegistrationCard">
   <mat-card-header>
      <div mat-card-avatar>
         <mat-icon aria-hidden="false" aria-label="Example home icon">
            local_play
         </mat-icon>
      </div>
      <mat-card-title>{{ event.title }}</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>
         {{ event.description }}
      </p>
   </mat-card-content>
   <mat-card-actions>
      <div *ngFor="let user of careUsers">
         <button
            mat-stroked-button
            color="primary"
            (click)="registerCareUser(event, user)"
            [disabled]="!user.appropriateAgeGroup"
         >
            <span
               [matTooltip]="
                  !user.appropriateAgeGroup
                     ? 'Deze zorggebruiker behoord niet tot de juiste leeftijdsgroep voor dit evenement'
                     : null
               "
               >{{ user.firstName }} {{ user.lastName }} inchrijven
            </span>
         </button>
      </div>
   </mat-card-actions>
</mat-card>
