/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
   margin: 0px;
}

app-root {
   background-image: url(assets/svg/SingerFigures.svg);
   background-repeat: repeat;
}
