/* You can add global styles to this file, and also import other style files */

/* Import calendar styling */
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'sint-gerardus-theme.scss';

body {
   margin: 0px;
}

.multi-line-snackbar {
   white-space: pre-wrap;
}


// time picker overlay issues
.timepicker-backdrop-overlay{
   z-index: 1000 !important;
}

.timepicker-overlay{
   z-index: 1000 !important;
}