.agegroup-chip {
   color: var(--singer-theme-dark-secondary-text);
}

.chiplist {
   display: grid;
   grid-template:
   'one' 2em
   'two' 2em
   / auto;
}

.verticalAligned {
   grid-template:
   'one two' 6em
   / auto;
}

.agegroup-toddler{
   background-color: rgb(241, 241, 21);
}
.agegroup-kindergartener{
   background-color: rgb(236, 19, 66);
}
.agegroup-child{
   background-color: #4ab;
}
.agegroup-youngster{
   background-color: rgb(36, 182, 78);
}
.agegroup-adult{
   background-color: #e39;
}
