.agegroup-toddler{
   background-color: rgb(241, 241, 21);
}
.agegroup-kindergartener{
   background-color: rgb(236, 19, 66);
}
.agegroup-child{
   background-color: #4ab;
}
.agegroup-youngster{
   background-color: rgb(36, 182, 78);
}
.agegroup-adult{
   background-color: #e39;
}
