/* MAIN TABLE STYLING */
.overview-table {
   overflow: auto;
   /* Hide Vertical scroll bar */
   overflow-y: hidden;
   margin: 10px auto;
}

table {
   width: 100%;
}
.registration-pending {
   padding: 8px;
}

.registration-rejected {
   color: red;
   padding: 8px;
}

.registration-accepted {
   color: green;
   padding: 8px;
}

.timeslot-table .user-column {
   justify-content: center;
   text-align: center;
}
