<header>
   <mat-toolbar color="primary">
      <span>Singer</span>
      <span class="fill-remaining-space"></span>
      <a
         mat-raised-button
         [routerLink]="['/']"
         [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="mat - accent"
      >
         Home
      </a>
      <a
         mat-raised-button
         [routerLink]="['/counter']"
         routerLinkActive="mat-accent"
      >
         Counter
      </a>
      <a
         mat-raised-button
         [routerLink]="['/fetch-data']"
         routerLinkActive="mat-accent"
      >
         Fetch data
      </a>
      <a
         mat-raised-button
         [routerLink]="['/about']"
         routerLinkActive="mat-accent"
      >
         About
      </a>
   </mat-toolbar>
</header>
