/* SMALL RESOLUTIONS */
/* FILTER FORM FIELD STYLING */
.mat-form-field {
   font-size: 14px;
   margin: 10px auto;
   display: block;
}

/* MAIN TABLE STYLING */
.admin-table {
   overflow: auto;
   /* Hide Vertical scroll bar */
   overflow-y: hidden;
   margin: 10px auto;
}
table {
   width: 100%;
}

/* MEDIUM - LARGE RESOLUTIONS */
@media (min-width: 1150px) {
   /* FILTER FORM FIELD STYLING */
   .mat-form-field {
      font-size: 14px;
      width: 1134px;
      margin: 10px auto;
      display: block;
   }

   /* MAIN TABLE STYLING */
   .admin-table {
      width: 1134px;
      overflow: auto;
      /* Hide Vertical scroll bar */
      overflow-y: hidden;
      margin: 10px auto;
   }
}

/* TABLE HEADER STYLING */
th {
   font-size: 0.9em;
   /* Override of the default material styling */
   background-color: var(--singer-theme-primary);
   color: var(--singer-theme-light-primary-text);
}

/* SORTING ARROW STYLING */
::ng-deep .mat-sort-header-arrow {
   /* Override of the default material styling */
   color: var(--singer-theme-light-primary-text);
}

/* SELECTABLE ROW STYLING */
tr.selectable:hover {
   /* Override of the default material styling */
   background: var(--singer-theme-accent-lighter);

   cursor: pointer;
}

tr.selectable:active {
   background: #efefef;
}

/* INDIVIDUAL COLUMN STYLING */
.mat-column-id {
   padding: 10px;
}

.mat-column-firstName {
   padding: 10px;
}

.mat-column-lastName {
   padding: 10px;
}

.mat-column-email {
   padding: 10px;
}

.mat-column-userName {
   padding: 10px;
}

/* TABLE FOOTER STYLING */
.tableButton {
   font-family: Roboto, Arial, sans-serif;
   font-size: 1em;
   /* Override of the default material styling */
   color: var(--singer-theme-primary);
}

.spacer {
   flex: 1 1 auto;
}
