.registrant{

   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}
.date-selector mat-form-field{
      width:100%;
   }
.location-selector{
   margin-left: auto;
   margin-right: 16px;;
}
.registration-rejected {
   color: red;
}

.registration-accepted {
   color: green;
}
