.registrant{

   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}
mat-form-field{
   width:100%;
}
.registration-rejected {
   color: red;
}

.registration-accepted {
   color: green;
}
